<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta name="description" content="My personal website to show what I've made">
  <meta name="keywords" content="#7Days7Websites, the noah, projects, portfolio">
  <meta name="author" content="The Noah">
  <meta property="og:description" content="My personal website to show what I've made">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="The Noah">
  <meta property="og:site_name" content="The Noah">
  <meta property="og:url" content="https://the-noah.github.io/">
  <meta property="og:image" content="https://the-noah.github.io/favicon.ico">
  <title>The Noah</title>
  <style><%- css.style -%></style>
  <noscript><style><%- css.noscript -%></style></noscript>
</head>
<body>
  <div class="links">
    <% links.forEach((link) => { %>
      <a href="<%- link.url %>" target="_blank" rel="noopener noreferrer" title="<%- link.name %>" style="--color:<%- link.color %>"><%- link.icon %></a>
    <% }); %>
    </div>
  <div class="hero">
    <h2>I'm Noah</h2>
    <h1>I develop open source Web Apps and Software</h1>
    <a href="#projects" class="btn">Projects</a>
  </div>
  <div id="about" class="container">
    <h1>About</h1>
    <p>I'm a programmer who loves to play games. Dreaming of being a <a href="https://bzflag.org" target="_blank" rel="noopener noreferrer">BZFlag</a> developer and creator of <a href="https://bzlist.net" target="_blank" rel="noopener noreferrer">BZList</a>. Also cats are the best thing in the world ᓚᘏᗢ</p>
  </div>
  <div id="projects" class="container">
    <h1>Projects</h1>
    <div class="cards">
      <% projects.forEach((project) => { %>
        <%- include("project", {project}); %>
      <% }); %>
    </div>
    <p>View more on <a href="https://github.com/The-Noah?tab=repositories" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
  </div>
  <footer>Copyright &copy; 2020 The Noah</footer>
  <script><%- js.app -%></script>
</body>
</html>
